body{
    font-family: roboto, sans-serif;
}

.navbar-brand{
    font-family: bungee, sans-serif;
}

.navbar{
    background-color: rgb(42, 161, 165);
}

.nav .nav-link.active{
    background-color: #fff;
    color: black;
}

.nav .nav-link{
    color:black
}