body{
    font-family: roboto, sans-serif;
}

.navbar{
    background-color: rgb(42, 161, 165);
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: black;
}

#cabecalho .nav .nav-link{
    color:black
}

.navbar-toggler{
    background-color: #fff;
}

.section-title{
    font-family: bungee, sans-serif;
}

#sobre-o-hotel, #entretenimento{
    background-color: rgb(207, 207, 197);
}

.nav-entretenimento .nav-link.active, #fale-conosco button{
    background-color: rgb(42, 161, 165);
    color: black;
}

.nav-entretenimento .nav-link{
    color: black;
}

#entretenimento img{
    height: 15em;
    border-radius: 6px;
}

#carousel img{
    max-height: 40em;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links li a #instagram{
    color: brown;
}

.social-links li a #whatsapp{
    color: green 
}


